body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

p {
  padding: 20px;
  background-color: #E6EBF3;
  border-radius: 15px;
}

#section div:nth-child(2n) {
  background-color: #E6EBF3;
  border-radius: 5px;
}

#message-input {
  flex-grow: 1;
}

.container {
  max-width: 550px !important;
  color: #003580;
  background: #FFFFFF;
  padding: 30px !important;
  margin-top: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px -2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 15px 15px 15px 15px;
}

.form {
  color: #003580;
}

.inputfield1 {
  font-size: 1rem;
  padding: 5px 5px 5px 12px;
  color: #003580;
  border-width: 1px;
  border-style: solid;
  border-color: #E6EBF3;
  border: 1px solid #E6EBF3 !important;
  border-radius: 15px;
}

.list-group-item {
  color: #003580;
}

.scrollarea {
  min-height: 500px;
  margin-bottom: 20px;
}

#section1{
  font-weight: bold;
  color: #003580;
  margin-top: 20px;
  margin-left: 15px;
}

.form-control1 {
  display: inline-block;
  color: #E6EBF3;
  border: 1px solid #E6EBF3 !important;
  border-radius: 15px !important;
}

.button1 {
  background-color: #E6EBF3 !important;
  border-color: #E6EBF3 !important;
  ;
  color: #003580 !important;
  ;
  border-radius: 15px !important;
  ;
  vertical-align: top !important;
  ;
  margin-left: 10px !important;
  ;
}

.button1:hover {
  background-color: #003580 !important;
  ;
}

.msg1 {
  background-color: #E6EBF3;
  border-radius: 10px;
  margin-top: 5px;
}

.titel1 {
  color: #003580 !important;
  font-weight: bold !important;
}

#send-container {
  margin-top: 20px;
}

.inputfield2 {
  margin-top: 10px;
  padding: 5px 5px 5px 8px;
  color: #003580;
  background-color: #E6EBF3;
  border: none;
  border-radius: 15px;
  height: 35px;
}

.textzoeken {
  margin-left: 10px;
}

.searchicon {
  margin-left: 10px;
}

.list-group-flush>.list-group-item {
  border-width: 0 0 1px;
  border-radius: 15px;
}

.border-bottom {
  border-bottom: 1px solid #E6EBF3 !important;
}

.bordertje {
  margin-top: 20px;
}